In [45]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from dateutil.relativedelta import relativedelta
import json

# local imports
from find_sites import findSites

import sys
sys.path.append('/Users/olivia/main/research/atmospheric_chem_ML/chem150')

# I am currently unsure if it will be able to find this environment file but ahhh
from data_fetcher import DataFetcher

datafetcher = DataFetcher()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [46]:
findsites = findSites()

In [47]:
df = findsites.find_sites('Ozone', '06', 1980, 2020)
df

   site_number  open_date close_date  Ozone
0         1006       1979       None   True
1         0002       1978       None   True
2         0001       1975       None   True
3         2001       1977       None   True
4         0004       1976       None   True
5         1103       1979       None   True
6         5001       1975       None   True
7         1001       1976       None   True
8         1201       1978       None   True
9         1002       1976       2021   True
10        1004       1973       None   True
11        0005       1979       None   True
12        6001       1979       None   True
13        1701       1978       None   True
14        8001       1975       None   True
15        2002       1979       2021   True
16        3001       1979       None   True

In [27]:
df = findsites.best_sites_state('06', 1980)
df

[   site_number  open_date close_date  Ozone
 0         1006       1979       None   True
 1         0002       1978       None   True
 2         0001       1975       None   True
 3         2001       1977       None   True
 4         0004       1976       None   True
 5         1103       1979       None   True
 6         5001       1975       None   True
 7         1001       1976       None   True
 8         1201       1978       None   True
 9         1004       1973       None   True
 10        0005       1979       None   True
 11        6001       1979       None   True
 12        1701       1978       None   True
 13        8001       1975       None   True
 14        3001       1979       None   True]

Ok so now let's try doing two different types, and we'll see if the true/false thing works!

In [69]:
# df2 = findsites.best_sites_state('06', 2000, other_params=["Wind Direction - Resultant"])
df2 = findsites.best_sites_state('06', 2000)
df2

['PM2.5 - Local Conditions', 'Wind Direction - Resultant']

             Wind Direction - Resultant
site_number
False                                 0
0001                                  1
0002                                  1
0003                                  1
0004                                  1
0005                                  1
0006                                  1
0007                                  1
0008                                  1
0010                                  1
0011                                  1
0012                                  1
0014                                  1
0016                                  1
0101                                  1
0113                                  1
0242                                  1
1002                                  1
1004                                  1
1006                                  1
1008                                  1
1013                                  1
1014                                  1
1020                                  1
1021                                  1
1022                                  1
1025                                  1
1103                                  1
1201                                  1
1701                                  1
2002                                  1
2004                                  1
2005                                  1
2011                                  1
2022                                  1
3001                                  1
3003                                  1
4001                                  1
4002                                  1
4003                                  1
5001                                  1
5003                                  1
6001                                  1
8001                                  1
9001                                  1
9002                                  1
9004                                  1

In [65]:
other = df2.fillna(value=False)
aggregation_functions = {'site_name': 'sum','Ozone': 'sum', 'PM2.5 - Local Conditons': 'sum'}
df_new = other.groupby(other['site_number']).sum()
df_new

             Ozone  PM2.5 - Local Conditions
site_number
0001             1                         1
0002             1                         1
0003             1                         0
0004             1                         1
0005             1                         1
0006             1                         1
0007             1                         0
0008             1                         0
0009             1                         0
0010             1                         0
0011             1                         0
0012             1                         0
0014             1                         1
0016             1                         0
0020             1                         0
0101             1                         0
0113             1                         0
0232             1                         0
0242             1                         0
1001             1                         1
1002             1                         0
1003             1                         1
1004             1                         0
1006             1                         1
1008             1                         0
1013             1                         0
1014             1                         0
1021             1                         0
1025             1                         0
1103             1                         1
1201             1                         1
1234             1                         0
1701             1                         0
2001             1                         0
2002             1                         1
2004             1                         0
2005             1                         1
2006             1                         0
2011             1                         0
2022             0                         1
3001             1                         0
3003             1                         0
4001             1                         0
4002             1                         1
4003             1                         0
4004             1                         0
5001             1                         1
5003             1                         0
6001             1                         0
8001             1                         1
9001             1                         0
9002             1                         0
9004             1                         1