# Climate region overview

## Best sites per region

To make the notebook more readable, I'm going to consolidate all the best sites here at the top so they can be easily referenced!

Also, we're going to check stating pre-Clean Air Act at 1960 for ozone, as I think that's when the oldest records are

### Longest records of Ozone

### Longest records of PM2.5

# Importing Datafetcher

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from dateutil.relativedelta import relativedelta
import json

# local imports
from find_sites import findSites
findsites = findSites()

import sys
sys.path.append('/Users/olivia/main/research/atmospheric_chem_ML/chem150')
from data_fetcher import DataFetcher
datafetcher = DataFetcher()

In [2]:
ANNUAL_DATA_BY_SITE = 'annualData/bySite'

# Actually finding the sites!

We're going to collect a dataframe of all the best sites for ozone starting 2000, etc.

In [34]:
df_ozone_2000 = pd.DataFrame()

## Northwest

STATES: Washingon state, Oregon, and Idaho

#### Washington (53)

Ozone data after 2000 in Seattle, Beacon Hill site (6 params), site_number=‘0080’, county_code=’033’

PM2.5 data after 2010 in Seattle, Beacon Hill site (8 params), site_number=‘0080’, county_code=’033’

##### Ozone

In [5]:
df_53_oz = findsites.best_sites_state('53',1980)
df_53_oz

,site_number,local_site_name,county_code,total_params,Ozone,Nitrogen dioxide (NO2)
0,0010,ISSAQUAH - LAKE SAMMAMISH (Wiithin Lake Samma...,033,1,1,0

In [7]:
df_53_oz_90 = findsites.best_sites_state('53',1990)
df_53_oz_90

,site_number,local_site_name,county_code,total_params,Ozone,Nitrogen dioxide (NO2)
0,0005,CUSTER - LOOMIS,073,1,1,0
1,0010,ISSAQUAH - LAKE SAMMAMISH (Wiithin Lake Samma...,033,1,1,0
2,0011,VANCOUVER - BLAIRMONT DR,011,1,1,0

In [8]:
df_53_oz_00 = findsites.best_sites_state('53',2000)
df_53_oz_00

,site_number,local_site_name,county_code,total_params,Ozone,PM2.5 - Local Conditions,Nitrogen dioxide (NO2),Outdoor Temperature,Wind Speed,Wind Direction
0,0080,SEATTLE - BEACON HILL,033,6,1,1,1,1,1,1
1,0017,NORTH BEND - NORTH BEND WAY,033,2,1,0,0,1,0,0
2,0001,CHENEY - TURNBULL,063,1,1,0,0,0,0,0
3,0005,CUSTER - LOOMIS,073,1,1,0,0,0,0,0
4,0010,ISSAQUAH - LAKE SAMMAMISH (Wiithin Lake Samma...,033,1,1,0,0,0,0,0
5,0011,VANCOUVER - BLAIRMONT DR,011,1,1,0,0,0,0,0
6,0012,MT RAINIER - JACKSON VISITIORS CENTER,053,1,1,0,0,0,0,0
7,0023,ENUMCLAW - MUD MTN (Army Corp of Engineers site),033,1,1,0,0,0,0,0
8,0046,SPOKANE - GREENBLUFF,063,1,1,0,0,0,0,0

In [35]:
row = df_53_oz_00.iloc[0].copy()
row['state_number'] = '53'
row['state_name'] = 'Washington'
row['climate_zone'] = 'Northwest'
df_ozone_2000 = df_ozone_2000.append(row)
df_ozone_2000

,site_number,local_site_name,county_code,total_params,Ozone,PM2.5 - Local Conditions,Nitrogen dioxide (NO2),Outdoor Temperature,Wind Speed,Wind Direction,state_number,state_name,climate_zone
0,0080,SEATTLE - BEACON HILL,033,6.0,1.0,1.0,1.0,1.0,1.0,1.0,53,Washington,Northwest

##### PM2.5

In [9]:
df_53_pm25_00 = findsites.best_sites_state('53',2000, mandatory_params=['PM2.5 - Local Conditions'])
df_53_pm25_00

No hourly data found for state 53 for mandatory parameter PM2.5 - Local Conditions

Empty DataFrame
Columns: [local_site_name, county_code, Ozone, PM2.5 - Local Conditions, Nitrogen dioxide (NO2), Outdoor Temperature, Wind Speed - Scalar, Wind Direction - Scalar]
Index: []

In [10]:
df_53_pm25_10 = findsites.best_sites_state('53',2010, mandatory_params=['PM2.5 - Local Conditions'])
df_53_pm25_10

,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Solar radiation,Relative Humidity,Nitrogen dioxide (NO2),Barometric pressure,Outdoor Temperature,Wind Speed,Wind Direction
0,0080,SEATTLE - BEACON HILL,033,8,1,1,1,0,1,1,0,1,1,1
1,0057,SEATTLE - DUWAMISH,033,1,0,0,1,0,0,0,0,0,0,0

#### Oregon (41)

Ozone data after 2000 in Carus Trailer/Spangler Rd site (6 params), site_number='0004', county_code='005'

##### Ozone

In [12]:
df_41_oz_80 = findsites.best_sites_state('41',1980)
df_41_oz_80

  site_number            local_site_name county_code  total_params  Ozone
0        0004  CARUS TRAILER/SPANGLER RD         005             1      1

In [13]:
df_41_oz_90 = findsites.best_sites_state('41',1990)
df_41_oz_90

,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,Wind Direction,Nitrogen dioxide (NO2),Outdoor Temperature,Wind Speed
0,0004,CARUS TRAILER/SPANGLER RD,005,4,1,0,1,0,1,1
1,1007,Eugene - Saginaw,039,1,1,0,0,0,0,0

In [14]:
df_41_oz_00 = findsites.best_sites_state('41',2000)
df_41_oz_00

,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Wind Direction,Solar radiation,Nitrogen dioxide (NO2),Barometric pressure,Outdoor Temperature,Wind Speed
0,0004,CARUS TRAILER/SPANGLER RD,005,6,1,0,1,1,0,0,1,1,1
1,0060,Eugene - AMAZON PARK (EAP),039,2,1,0,1,0,0,0,0,0,0
2,0201,Medford at Talent (South of Medford) - (TAL),029,1,1,0,0,0,0,0,0,0,0
3,1007,Eugene - Saginaw,039,1,1,0,0,0,0,0,0,0,0

In [36]:
row = df_41_oz_00.iloc[0].copy()
row['state_number'] = '41'
row['state_name'] = 'Oregon'
row['climate_zone'] = 'Northwest'
df_ozone_2000 = df_ozone_2000.append(row)
df_ozone_2000

,site_number,local_site_name,county_code,total_params,Ozone,PM2.5 - Local Conditions,Nitrogen dioxide (NO2),Outdoor Temperature,Wind Speed,Wind Direction,state_number,state_name,climate_zone,Barometric pressure,Carbon monoxide,Solar radiation
0,0080,SEATTLE - BEACON HILL,033,6.0,1.0,1.0,1.0,1.0,1.0,1.0,53,Washington,Northwest,NaN,NaN,NaN
0,0004,CARUS TRAILER/SPANGLER RD,005,6.0,1.0,1.0,0.0,1.0,1.0,1.0,41,Oregon,Northwest,1.0,0.0,0.0

##### PM2.5

In [15]:
df_41_pm25_00 = findsites.best_sites_state('41',2000, mandatory_params=['PM2.5 - Local Conditions'])
df_41_pm25_00

No hourly data found for state 41 for mandatory parameter PM2.5 - Local Conditions

Empty DataFrame
Columns: [local_site_name, county_code, Ozone, Carbon monoxide, PM2.5 - Local Conditions, Wind Direction - Resultant, Solar radiation, Nitrogen dioxide (NO2), Barometric pressure, Outdoor Temperature, Wind Speed - Scalar, Wind Speed - Resultant]
Index: []

In [16]:
df_41_pm25_10 = findsites.best_sites_state('41',2010, mandatory_params=['PM2.5 - Local Conditions'])
df_41_pm25_10

No hourly data found for state 41 for mandatory parameter PM2.5 - Local Conditions

Empty DataFrame
Columns: [local_site_name, county_code, Ozone, Carbon monoxide, PM2.5 - Local Conditions, Wind Direction - Resultant, Solar radiation, Relative Humidity , Nitrogen dioxide (NO2), Barometric pressure, Outdoor Temperature, Wind Speed - Scalar, Wind Speed - Resultant]
Index: []

In [17]:
df_41_pm25_15 = findsites.best_sites_state('41',2015, mandatory_params=['PM2.5 - Local Conditions'])
df_41_pm25_15

,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Wind Direction,Solar radiation,Relative Humidity,Nitrogen dioxide (NO2),Barometric pressure,Outdoor Temperature,Wind Speed
0,7002,None,059,1,0,0,1,0,0,0,0,0,0,0

#### Idaho (16)

##### Ozone

In [37]:
df_16_oz_00 = findsites.best_sites_state('16',2000)
df_16_oz_00

,site_number,local_site_name,county_code,total_params,Ozone,PM2.5 - Local Conditions,Solar radiation,Relative Humidity,Barometric pressure,Outdoor Temperature,Wind Speed,Wind Direction
0,0101,Craters of the Moon NM & PRES - Visitor Center,023,5,1,0,1,0,0,1,1,1

In [38]:
row = df_16_oz_00.iloc[0].copy()
row['state_number'] = '16'
row['state_name'] = 'Idaho'
row['climate_zone'] = 'Northwest'
df_ozone_2000 = df_ozone_2000.append(row)
df_ozone_2000

,site_number,local_site_name,county_code,total_params,Ozone,PM2.5 - Local Conditions,Nitrogen dioxide (NO2),Outdoor Temperature,Wind Speed,Wind Direction,state_number,state_name,climate_zone,Barometric pressure,Carbon monoxide,Solar radiation,Relative Humidity
0,0080,SEATTLE - BEACON HILL,033,6.0,1.0,1.0,1.0,1.0,1.0,1.0,53,Washington,Northwest,NaN,NaN,NaN,NaN
0,0004,CARUS TRAILER/SPANGLER RD,005,6.0,1.0,1.0,0.0,1.0,1.0,1.0,41,Oregon,Northwest,1.0,0.0,0.0,NaN
0,0101,Craters of the Moon NM & PRES - Visitor Center,023,5.0,1.0,0.0,NaN,1.0,1.0,1.0,16,Idaho,Northwest,0.0,NaN,1.0,0.0

## West

STATES: California and Nevada

#### California (06)

##### Ozone

In [39]:
df_06_oz_00 = findsites.best_sites_state('06',2000)
df_06_oz_00

,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Solar radiation,Relative Humidity,Nitrogen dioxide (NO2),Barometric pressure,Outdoor Temperature,Ultraviolet radiation,Wind Speed,Wind Direction
0,0004,Madera-Pump Yard,039,10,1,1,1,1,1,1,1,1,0,1,1
1,0006,Sacramento-Del Paso Manor,067,10,1,1,1,1,1,1,1,1,0,1,1
2,2002,Simi Valley-Cochran Street,111,10,1,1,1,1,1,1,1,1,0,1,1
3,5001,Clovis-Villa,019,10,1,1,1,1,1,1,1,1,0,1,1
4,1004,Ojai - East Ojai Ave,111,9,1,1,0,1,1,1,1,1,0,1,1
5,0011,Elk Grove-Bruceville,067,9,1,0,0,1,1,1,1,1,1,1,1
6,1103,Los Angeles-North Main Street,037,9,1,1,1,1,1,1,0,1,0,1,1
7,0002,Azusa,037,8,1,1,1,0,1,1,0,1,0,1,1
8,1201,Reseda,037,8,1,1,1,0,1,1,0,1,0,1,1
9,2005,Pasadena,037,8,1,1,1,0,1,1,0,1,0,1,1
10,9004,San Bernardino,071,8,1,1,1,0,1,1,0,1,0,1,1
11,0008,Maricopa,029,8,1,0,0,1,1,0,1,1,1,1,1
12,0007,Livermore,001,8,1,0,0,1,1,1,1,1,0,1,1
13,6001,Shafter,029,8,1,0,0,1,1,1,1,1,0,1,1
14,8001,Rubidoux,065,8,1,1,1,0,1,1,0,1,0,1,1
15,4001,Parlier,019,8,1,0,0,1,1,1,1,1,0,1,1
16,3001,El Rio-Rio Mesa School #2,111,7,1,0,0,1,1,1,0,1,0,1,1
17,1001,Los Gatos,085,7,1,1,1,0,1,1,0,1,0,1,0
18,1234,Trona - Athol/Telescope #2,071,7,1,0,0,0,1,1,1,1,0,1,1
19,0001,Barstow,071,7,1,1,1,0,0,1,0,1,0,1,1
20,0003,Yosemite NP - Turtleback Dome,043,7,1,0,0,1,1,1,0,1,0,1,1
21,0005,Paso Robles,079,7,1,1,1,0,1,1,0,0,0,1,1
22,0012,Folsom-Natoma St.,067,7,1,0,0,0,1,1,1,1,0,1,1
23,1002,Bethel Island,013,6,1,1,0,0,0,1,0,1,0,1,1
24,1025,Los Flores Canyon #1,083,6,1,1,0,0,0,1,0,1,0,1,1
25,9002,Joshua Tree NP - Black Rock,071,6,1,0,0,1,1,0,0,1,0,1,1
26,3003,Lassen Volcanic NP - Manzanita Lake Fire Station,089,6,1,0,0,1,1,0,0,1,0,1,1
27,2004,Lompoc H Street,083,6,1,1,0,0,0,1,0,1,0,1,1
28,1006,Alpine,073,6,1,0,1,0,1,0,0,1,0,1,1
29,1021,Carpinteria,083,5,1,0,0,0,0,1,0,1,0,1,1
30,1003,Woodland-Gibson Road,113,5,1,0,1,0,0,1,0,1,0,1,0
31,0242,Fresno-Sky Park,019,5,1,0,0,0,0,1,0,1,0,1,1
32,4003,Redlands,071,5,1,0,0,0,1,0,0,1,0,1,1
33,0113,West Los Angeles,037,5,1,0,0,0,1,1,0,0,0,1,1
34,0014,Bakersfield-California,029,5,1,0,1,0,0,1,0,0,0,1,1
35,1014,Paradise Road,083,5,1,0,0,0,0,1,0,1,0,1,1
36,1701,Pomona,037,5,1,1,0,0,0,1,0,0,0,1,1
37,1013,Lompoc HSP,083,5,1,0,0,0,0,1,0,1,0,1,1
38,0016,Glendora,037,4,1,0,0,0,0,1,0,0,0,1,1
39,2011,Goleta,083,4,1,0,0,0,0,0,0,1,0,1,1
40,0010,Sacramento-1309 T Street,067,4,1,0,0,0,0,1,0,0,0,1,1
41,4002,Nipomo Regional Park (NRP),079,4,1,0,0,0,0,1,0,0,0,1,1
42,1008,Camp Pendleton,073,4,1,0,0,0,0,0,0,1,0,1,1
43,0020,Cool,017,4,1,0,0,0,1,0,0,1,0,1,0
44,9001,Lake Elsinore,065,4,1,0,0,0,0,1,0,0,0,1,1
45,0101,Death Valley NP - Park Village,027,4,1,0,0,0,0,0,0,1,0,1,1
46,5003,Sloughhouse,067,3,1,0,0,0,0,0,0,0,0,1,1
47,2006,San Martin,085,1,1,0,0,0,0,0,0,0,0,0,0
48,2001,Yreka,093,1,1,0,0,0,0,0,0,0,0,0,0
49,0232,Oildale,029,1,1,0,0,0,0,0,0,0,0,0,0
50,0009,Sequoia & Kings Canyon NPs - Ash Mountain,107,1,1,0,0,0,0,0,0,0,0,0,0

In [40]:
row = df_06_oz_00.iloc[[0,1,2,3,4,5,6]].copy()
row

,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Solar radiation,Relative Humidity,Nitrogen dioxide (NO2),Barometric pressure,Outdoor Temperature,Ultraviolet radiation,Wind Speed,Wind Direction
0,0004,Madera-Pump Yard,039,10,1,1,1,1,1,1,1,1,0,1,1
1,0006,Sacramento-Del Paso Manor,067,10,1,1,1,1,1,1,1,1,0,1,1
2,2002,Simi Valley-Cochran Street,111,10,1,1,1,1,1,1,1,1,0,1,1
3,5001,Clovis-Villa,019,10,1,1,1,1,1,1,1,1,0,1,1
4,1004,Ojai - East Ojai Ave,111,9,1,1,0,1,1,1,1,1,0,1,1
5,0011,Elk Grove-Bruceville,067,9,1,0,0,1,1,1,1,1,1,1,1
6,1103,Los Angeles-North Main Street,037,9,1,1,1,1,1,1,0,1,0,1,1

In [41]:
row['state_number'] = '06'
row['state_name'] = 'California'
row['climate_zone'] = 'West'
df_ozone_2000 = df_ozone_2000.append(row)
df_ozone_2000

,site_number,local_site_name,county_code,total_params,Ozone,PM2.5 - Local Conditions,Nitrogen dioxide (NO2),Outdoor Temperature,Wind Speed,Wind Direction,state_number,state_name,climate_zone,Barometric pressure,Carbon monoxide,Solar radiation,Relative Humidity,Ultraviolet radiation
0,0080,SEATTLE - BEACON HILL,033,6.0,1.0,1.0,1.0,1.0,1.0,1.0,53,Washington,Northwest,NaN,NaN,NaN,NaN,NaN
0,0004,CARUS TRAILER/SPANGLER RD,005,6.0,1.0,1.0,0.0,1.0,1.0,1.0,41,Oregon,Northwest,1.0,0.0,0.0,NaN,NaN
0,0101,Craters of the Moon NM & PRES - Visitor Center,023,5.0,1.0,0.0,NaN,1.0,1.0,1.0,16,Idaho,Northwest,0.0,NaN,1.0,0.0,NaN
0,0004,Madera-Pump Yard,039,10.0,1.0,1.0,1.0,1.0,1.0,1.0,06,California,West,1.0,1.0,1.0,1.0,0.0
1,0006,Sacramento-Del Paso Manor,067,10.0,1.0,1.0,1.0,1.0,1.0,1.0,06,California,West,1.0,1.0,1.0,1.0,0.0
2,2002,Simi Valley-Cochran Street,111,10.0,1.0,1.0,1.0,1.0,1.0,1.0,06,California,West,1.0,1.0,1.0,1.0,0.0
3,5001,Clovis-Villa,019,10.0,1.0,1.0,1.0,1.0,1.0,1.0,06,California,West,1.0,1.0,1.0,1.0,0.0
4,1004,Ojai - East Ojai Ave,111,9.0,1.0,0.0,1.0,1.0,1.0,1.0,06,California,West,1.0,1.0,1.0,1.0,0.0
5,0011,Elk Grove-Bruceville,067,9.0,1.0,0.0,1.0,1.0,1.0,1.0,06,California,West,1.0,0.0,1.0,1.0,1.0
6,1103,Los Angeles-North Main Street,037,9.0,1.0,1.0,1.0,1.0,1.0,1.0,06,California,West,0.0,1.0,1.0,1.0,0.0

#### Nevada (32)

##### Ozone

In [42]:
df_32_oz_00 = findsites.best_sites_state('32',2000)
df_32_oz_00

,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,Wind Direction,Solar radiation,Relative Humidity,Outdoor Temperature,Wind Speed
0,0101,Great Basin NP - Maintenance Yard,033,6,1,0,1,1,1,1,1
1,0043,Paul Meyer,003,2,1,1,0,0,0,0,0
2,1005,Sparks,031,2,1,1,0,0,0,0,0
3,0020,South Reno,031,1,1,0,0,0,0,0,0
4,0071,Walter Johnson,003,1,1,0,0,0,0,0,0
5,0073,Palo Verde,003,1,1,0,0,0,0,0,0
6,1019,Jean,003,1,1,0,0,0,0,0,0
7,2002,Incline,031,1,1,0,0,0,0,0,0
8,2009,Lemmon Valley,031,1,1,0,0,0,0,0,0

In [43]:
row = df_32_oz_00.iloc[0].copy()
row['state_number'] = '32'
row['state_name'] = 'Nevada'
row['climate_zone'] = 'West'
df_ozone_2000 = df_ozone_2000.append(row)

## Southwest

STATES: Utah, Colorado, Arizona, and New Mexico

#### Utah (49)

In [44]:
df_49_oz_00 = findsites.best_sites_state('49',2000)
df_49_oz_00

,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Solar radiation,Relative Humidity,Nitrogen dioxide (NO2),Outdoor Temperature,Wind Speed,Wind Direction
0,0101,Canyonlands NP - Island in the Sky,037,6,1,0,0,1,1,0,1,1,1
1,3006,Hawthorne,035,6,1,1,1,0,0,1,0,1,1
2,5010,Spanish Fork,049,4,1,0,1,0,0,0,0,1,1

In [45]:
row = df_49_oz_00.iloc[[0,1]].copy()
row['state_number'] = '49'
row['state_name'] = 'Utah'
row['climate_zone'] = 'Southwest'
df_ozone_2000 = df_ozone_2000.append(row)

#### Colorado (08)

##### Ozone

In [46]:
df_08_oz_00 = findsites.best_sites_state('08',2000)
df_08_oz_00

,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Solar radiation,Relative Humidity,Nitrogen dioxide (NO2),Outdoor Temperature,Wind Speed,Wind Direction
0,0002,HIGHLAND RESERVOIR,005,7,1,1,1,0,0,1,1,1,1
1,0007,Rocky Mountain NP - Long's Peak,069,6,1,0,0,1,1,0,1,1,1
2,0101,Mesa Verde NP - Resource Management Area,083,6,1,0,0,1,1,0,1,1,1
3,3001,Welby,001,6,1,1,0,0,0,1,1,1,1
4,0006,ROCKY FLATS-N,059,5,1,0,0,0,0,1,1,1,1
5,1004,Fort Collins - CSU - S. Mason,069,5,1,1,0,0,0,0,1,1,1
6,7001,UTE 1,067,2,1,0,0,0,0,1,0,0,0
7,7003,UTE 3,067,2,1,0,0,0,0,1,0,0,0
8,0011,NATIONAL RENEWABLE ENERGY LABS - NREL,059,1,1,0,0,0,0,0,0,0,0
9,0013,U.S. AIR FORCE ACADEMY,041,1,1,0,0,0,0,0,0,0,0

In [47]:
row = df_08_oz_00.iloc[[0,1,2,3]].copy()
row['state_number'] = '08'
row['state_name'] = 'Colorado'
row['climate_zone'] = 'Southwest'
df_ozone_2000 = df_ozone_2000.append(row)

In [49]:
# Just to make sure all this work doesn't disappear, we're going to export really fast!!!

df_ozone_2000.to_csv('2000_ozone_sites_colorado.csv')

In [64]:
import requests

datafetcher = DataFetcher()
df = datafetcher.get_codes('list/states', all=True)
df = pd.DataFrame(df)
df.rename(columns={'value_represented':'state'}, inplace=True)
df = df.set_index('state')

# now to 
df.loc['California', 'climate_zone'] = 'West'
df

# r = requests.get(url='https://aqs.epa.gov/data/api/list/states?email=orussell@g.hmc.edu&key=silverwren95')
# data = r.json()['code']
# df = pd.DataFrame(data)
# df

                     code climate_zone
state
Alabama                01          NaN
Alaska                 02          NaN
Arizona                04          NaN
Arkansas               05          NaN
California             06         West
Colorado               08          NaN
Connecticut            09          NaN
Delaware               10          NaN
District Of Columbia   11          NaN
Florida                12          NaN
Georgia                13          NaN
Hawaii                 15          NaN
Idaho                  16          NaN
Illinois               17          NaN
Indiana                18          NaN
Iowa                   19          NaN
Kansas                 20          NaN
Kentucky               21          NaN
Louisiana              22          NaN
Maine                  23          NaN
Maryland               24          NaN
Massachusetts          25          NaN
Michigan               26          NaN
Minnesota              27          NaN
Mississippi            28          NaN
Missouri               29          NaN
Montana                30          NaN
Nebraska               31          NaN
Nevada                 32          NaN
New Hampshire          33          NaN
New Jersey             34          NaN
New Mexico             35          NaN
New York               36          NaN
North Carolina         37          NaN
North Dakota           38          NaN
Ohio                   39          NaN
Oklahoma               40          NaN
Oregon                 41          NaN
Pennsylvania           42          NaN
Rhode Island           44          NaN
South Carolina         45          NaN
South Dakota           46          NaN
Tennessee              47          NaN
Texas                  48          NaN
Utah                   49          NaN
Vermont                50          NaN
Virginia               51          NaN
Washington             53          NaN
West Virginia          54          NaN
Wisconsin              55          NaN
Wyoming                56          NaN
Guam                   66          NaN
Puerto Rico            72          NaN
Virgin Islands         78          NaN
Country Of Mexico      80          NaN
Canada                 CC          NaN

#### Arizona (04)

##### Ozone

In [50]:
df_04_oz_00 = findsites.best_sites_state('04',2000)
df_04_oz_00

,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Solar radiation,Relative Humidity,Nitrogen dioxide (NO2),Outdoor Temperature,Wind Speed,Wind Direction
0,9997,JLG SUPERSITE,013,7,1,1,1,0,1,1,1,1,0
1,1011,22ND & CRAYCROFT,019,6,1,0,0,0,1,1,1,1,1
2,8001,Grand Canyon NP - The Abyss,005,6,1,0,0,1,1,0,1,1,1
3,3002,CENTRAL PHOENIX,013,6,1,1,1,0,0,1,0,1,1
4,0019,WEST PHOENIX,013,5,1,1,0,0,0,1,0,1,1
5,1018,TANGERINE,019,4,1,0,0,0,0,0,1,1,1
6,1020,FAIRGROUNDS,019,4,1,0,0,0,0,0,1,1,1
7,1028,CHILDREN'S PARK NCore,019,4,1,1,0,0,0,1,1,0,0
8,0021,SAGUARO PARK,019,4,1,0,0,0,0,0,1,1,1
9,4003,SOUTH PHOENIX,013,4,1,1,0,0,0,0,0,1,1
10,1003,MESA,013,4,1,1,0,0,0,0,0,1,1
11,2005,PINNACLE PEAK,013,3,1,0,0,0,0,0,0,1,1
12,1004,NORTH PHOENIX,013,3,1,0,0,0,0,0,0,1,1
13,2001,GLENDALE,013,3,1,0,0,0,0,0,0,1,1
14,1010,FALCON FIELD,013,1,1,0,0,0,0,0,0,0,0
15,9508,HUMBOLDT MOUNTAIN,013,1,1,0,0,0,0,0,0,0,0
16,9702,BLUE POINT-SHERIFF STATION-TONTO NF-SALT RIVER...,013,1,1,0,0,0,0,0,0,0,0
17,9704,FOUNTAIN HILLS,013,1,1,0,0,0,0,0,0,0,0

In [ ]:
row = df_08_oz_00.iloc[[0,1,2,3]].copy()
row['state_number'] = '08'
row['state_name'] = 'Colorado'
row['climate_zone'] = 'Southwest'
df_ozone_2000 = df_ozone_2000.append(row)

## Northern Rockies and Plains (West North Central)

STATES: Montana, North Dakota, South Dakota, Wyoming, and Nebraska

## Upper Midwest (East North Central)

STATES: Minnesota, Iowa, Wisconsin, and Michigan

## South

STATES: Kansas, Oklahoma, Texas, Louisiana, Arkansas, and Alabama

## Ohio Valley (Central)

STATES: Illinois, Missouri, Tennessee, Kentucky, Ohio, Indiana, and West Virginia

## Southeast

STATES: Alabama, Georgia, Florida, South Carolina, North Carolina, Virginia, and Washington D.C.

## Northeast

STATES: Maryland, Pennsylvania, Delaware, New Jersey, Connecticut, Rhode Island, Massachusetts, Vermont, New Hampshire, New York, and Maine

In [66]:
df = findsites.best_sites_country(2000)

<Response [200]>
Finished state Alabama
Finished state Alaska
Finished state Arizona
Finished state Arkansas
Finished state California
Finished state Colorado
Finished state Connecticut
Finished state Delaware
Finished state District Of Columbia
Finished state Florida
Finished state Georgia
Finished state Hawaii
Finished state Idaho
Finished state Illinois
Finished state Indiana
Finished state Iowa
Finished state Kansas
Finished state Kentucky
Finished state Louisiana
Finished state Maine
Finished state Maryland
Finished state Massachusetts
Finished state Michigan
Finished state Minnesota
Finished state Mississippi
Finished state Missouri
Finished state Montana
Finished state Nebraska
Finished state Nevada
Finished state New Hampshire
Finished state New Jersey
Finished state New Mexico
Finished state New York
Finished state North Carolina
Finished state North Dakota
Finished state Ohio
Finished state Oklahoma
Finished state Oregon
Finished state Pennsylvania
Finished state Rhode Island
Finished state South Carolina
No matching sites found for state 46
Finished state South Dakota
Finished state Tennessee
Finished state Texas
Finished state Utah
Finished state Vermont
Finished state Virginia
Finished state Washington
Finished state West Virginia
Finished state Wisconsin
Finished state Wyoming

In [67]:
df

,climate_zone,state_code,state_name,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Wind Direction,Solar radiation,Relative Humidity,Outdoor Temperature,Wind Speed,Nitrogen dioxide (NO2),Barometric pressure,Ultraviolet radiation
0,N/A,02,Alaska,0003,Denali NP & PRES - Headquarters,068,6,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
0,Southwest,04,Arizona,9997,JLG SUPERSITE,013,7,1,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
1,Southwest,04,Arizona,1011,22ND & CRAYCROFT,019,6,1,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
2,Southwest,04,Arizona,8001,Grand Canyon NP - The Abyss,005,6,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
3,Southwest,04,Arizona,3002,CENTRAL PHOENIX,013,6,1,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,Southwest,49,Utah,0101,Canyonlands NP - Island in the Sky,037,6,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
1,Southwest,49,Utah,3006,Hawthorne,035,6,1,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
0,Southeast,51,Virginia,0003,Shenandoah NP - Big Meadows,113,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
0,Northwest,53,Washington,0080,SEATTLE - BEACON HILL,033,6,1,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
0,Northern Rockies and Plains,56,Wyoming,1011,Yellowstone NP - Water Tank,039,6,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0

In [68]:
df.to_csv('2000_ozone_sites_zones.csv')

In [83]:
df2.keys()

Index(['climate_zone', 'state_code', 'state_name', 'site_number',
       'local_site_name', 'county_code', 'total_params', 'Ozone',
       'Carbon monoxide', 'PM2.5 - Local Conditions', 'Wind Direction',
       'Solar radiation', 'Relative Humidity ', 'Outdoor Temperature',
       'Wind Speed', 'Nitrogen dioxide (NO2)', 'Barometric pressure',
       'Ultraviolet radiation'],
      dtype='object')

In [84]:
df2 = df.copy()
df2 = df2[df2['Solar radiation'] == 1.0]
df2 = df2[df2['Relative Humidity '] == 1.0]
df2 = df2[df2['Nitrogen dioxide (NO2)'] == 1.0]
df2 = df2[df2['Outdoor Temperature'] == 1.0]
df2
# print(df2.shape())

# Without wind no Northeast

,climate_zone,state_code,state_name,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Wind Direction,Solar radiation,Relative Humidity,Outdoor Temperature,Wind Speed,Nitrogen dioxide (NO2),Barometric pressure,Ultraviolet radiation
0,West,06,California,0004,Madera-Pump Yard,039,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1,West,06,California,0006,Sacramento-Del Paso Manor,067,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,West,06,California,2002,Simi Valley-Cochran Street,111,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3,West,06,California,5001,Clovis-Villa,019,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
4,West,06,California,1004,Ojai - East Ojai Ave,111,9,1,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
5,West,06,California,0011,Elk Grove-Bruceville,067,9,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,West,06,California,1103,Los Angeles-North Main Street,037,9,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
12,West,06,California,0007,Livermore,001,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
13,West,06,California,6001,Shafter,029,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
15,West,06,California,4001,Parlier,019,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
16,West,06,California,3001,El Rio-Rio Mesa School #2,111,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
20,West,06,California,0003,Yosemite NP - Turtleback Dome,043,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
0,Southeast,11,District Of Columbia,0043,MCMILLAN NCore-PAMS,001,9,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
0,Ohio Valley,17,Illinois,4201,NORTHBROOK WATER PLANT,031,9,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
0,South,22,Louisiana,0009,Vinton,019,11,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
0,Northeast,25,Massachusetts,0002,TRURO NATIONAL SEASHORE,001,9,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1,Northeast,25,Massachusetts,0008,WESTOVER AFB,013,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3,Northeast,25,Massachusetts,4002,QUABBIN RES,015,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
0,Northern Rockies and Plains,38,North Dakota,0002,PAINTED CANYON,007,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
0,Northeast,44,Rhode Island,1010,FRANCIS SCHOOL East Providence,007,9,1,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
0,South,48,Texas,1035,Clinton,201,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
1,South,48,Texas,0044,El Paso Chamizal,141,8,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
3,South,48,Texas,0029,Northwest Harris County,201,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0

In [87]:
df2.to_csv("2000_ozone_sites_original.csv")

In [89]:
df2 = df2.reset_index(drop=True)
df2

,climate_zone,state_code,state_name,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Wind Direction,Solar radiation,Relative Humidity,Outdoor Temperature,Wind Speed,Nitrogen dioxide (NO2),Barometric pressure,Ultraviolet radiation
0,West,06,California,0004,Madera-Pump Yard,039,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1,West,06,California,0006,Sacramento-Del Paso Manor,067,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,West,06,California,2002,Simi Valley-Cochran Street,111,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3,West,06,California,5001,Clovis-Villa,019,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
4,West,06,California,1004,Ojai - East Ojai Ave,111,9,1,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
5,West,06,California,0011,Elk Grove-Bruceville,067,9,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,West,06,California,1103,Los Angeles-North Main Street,037,9,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
7,West,06,California,0007,Livermore,001,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
8,West,06,California,6001,Shafter,029,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
9,West,06,California,4001,Parlier,019,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
10,West,06,California,3001,El Rio-Rio Mesa School #2,111,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
11,West,06,California,0003,Yosemite NP - Turtleback Dome,043,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
12,Southeast,11,District Of Columbia,0043,MCMILLAN NCore-PAMS,001,9,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
13,Ohio Valley,17,Illinois,4201,NORTHBROOK WATER PLANT,031,9,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
14,South,22,Louisiana,0009,Vinton,019,11,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15,Northeast,25,Massachusetts,0002,TRURO NATIONAL SEASHORE,001,9,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
16,Northeast,25,Massachusetts,0008,WESTOVER AFB,013,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
17,Northeast,25,Massachusetts,4002,QUABBIN RES,015,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
18,Northern Rockies and Plains,38,North Dakota,0002,PAINTED CANYON,007,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
19,Northeast,44,Rhode Island,1010,FRANCIS SCHOOL East Providence,007,9,1,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
20,South,48,Texas,1035,Clinton,201,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
21,South,48,Texas,0044,El Paso Chamizal,141,8,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
22,South,48,Texas,0029,Northwest Harris County,201,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0

In [90]:
df2 = df2.drop([4,5,6,7,8,9,10,11])

In [91]:
df2

,climate_zone,state_code,state_name,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Wind Direction,Solar radiation,Relative Humidity,Outdoor Temperature,Wind Speed,Nitrogen dioxide (NO2),Barometric pressure,Ultraviolet radiation
0,West,06,California,0004,Madera-Pump Yard,039,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1,West,06,California,0006,Sacramento-Del Paso Manor,067,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,West,06,California,2002,Simi Valley-Cochran Street,111,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3,West,06,California,5001,Clovis-Villa,019,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12,Southeast,11,District Of Columbia,0043,MCMILLAN NCore-PAMS,001,9,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
13,Ohio Valley,17,Illinois,4201,NORTHBROOK WATER PLANT,031,9,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
14,South,22,Louisiana,0009,Vinton,019,11,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15,Northeast,25,Massachusetts,0002,TRURO NATIONAL SEASHORE,001,9,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
16,Northeast,25,Massachusetts,0008,WESTOVER AFB,013,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
17,Northeast,25,Massachusetts,4002,QUABBIN RES,015,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
18,Northern Rockies and Plains,38,North Dakota,0002,PAINTED CANYON,007,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
19,Northeast,44,Rhode Island,1010,FRANCIS SCHOOL East Providence,007,9,1,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
20,South,48,Texas,1035,Clinton,201,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
21,South,48,Texas,0044,El Paso Chamizal,141,8,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
22,South,48,Texas,0029,Northwest Harris County,201,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0

In [92]:
df2.to_csv("2000_ozone_sites_reduced.csv")

In [95]:
df3 = df2.copy()
df3 = df3[df3['Wind Speed'] == 1.0]
df3

,climate_zone,state_code,state_name,site_number,local_site_name,county_code,total_params,Ozone,Carbon monoxide,PM2.5 - Local Conditions,Wind Direction,Solar radiation,Relative Humidity,Outdoor Temperature,Wind Speed,Nitrogen dioxide (NO2),Barometric pressure,Ultraviolet radiation
0,West,06,California,0004,Madera-Pump Yard,039,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1,West,06,California,0006,Sacramento-Del Paso Manor,067,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,West,06,California,2002,Simi Valley-Cochran Street,111,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3,West,06,California,5001,Clovis-Villa,019,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12,Southeast,11,District Of Columbia,0043,MCMILLAN NCore-PAMS,001,9,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
13,Ohio Valley,17,Illinois,4201,NORTHBROOK WATER PLANT,031,9,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
14,South,22,Louisiana,0009,Vinton,019,11,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15,Northeast,25,Massachusetts,0002,TRURO NATIONAL SEASHORE,001,9,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
16,Northeast,25,Massachusetts,0008,WESTOVER AFB,013,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
17,Northeast,25,Massachusetts,4002,QUABBIN RES,015,8,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
18,Northern Rockies and Plains,38,North Dakota,0002,PAINTED CANYON,007,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
20,South,48,Texas,1035,Clinton,201,10,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
21,South,48,Texas,0044,El Paso Chamizal,141,8,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
22,South,48,Texas,0029,Northwest Harris County,201,7,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0

In [96]:
df3.to_csv("2000_ozone_sites_wind.csv")